.git
.github
.env
.env.*
!.env.example
node_modules
vendor
public/build
public/storage
storage/*.key
storage/logs/*.log
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*
database/database.sqlite
database/database.sqlite-journal
npm-debug.log
yarn-error.log
.DS_Store
Thumbs.db
