/node_modules
/public/build
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.*.php
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
.DS_Store
Thumbs.db
/database/*.sqlite
/database/*.sqlite-journal
/storage/logs/*.log
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/views/*
/bootstrap/cache/*.php
!/bootstrap/cache/.gitignore
